---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Back from "../components/Back.astro";
import CartContainer from "../components/CartContainer";

const queryParams = Astro.url.searchParams;
const storeId = parseInt(queryParams.get("storeId")!);
const name = queryParams.get("name");

if (!storeId || !name) {
    return Astro.redirect("/");
}

let username;
let city: string;

const userIdCookie = Astro.cookies.get("user-id");
if (userIdCookie) {
    const url = "http://identity:3000/profile/?accountId=" + userIdCookie.value;
    const response = await fetch(url);
    if (response.ok) {
        const data = await response.json();
        username = data.name.split(" ")[0];
        city = data.city;
    } else {
        Astro.cookies.delete("user-id");
        return Astro.redirect("/login");
    }
} else {
    return Astro.redirect("/login");
}
---

<Layout title="UtalEats">
    <main>
        <NavBar city={city} username={username} />
        <div class="page">
            <div class="header">
                <h1>Your cart</h1>
                <Back url=`/store?storeId=${storeId}&name=${name}`/>
            </div>
            <div class="your-cart">
                <CartContainer client:load isOrderDetail={false}/>
                <div class="buttons">
                    <button id="clear">Clear</button>
                    <a id="checkout">Checkout</a>
                </div>
            </div>
        </div>
    </main>
</Layout>
<script define:vars={{ storeId }} is:inline>
    const clear = document.getElementById("clear");
    const checkout = document.getElementById("checkout");

    clear.addEventListener("click", () => {
        localStorage.clear();
        window.location.reload();
    });

    const dishes = JSON.parse(localStorage.getItem("savedItems"));

    checkout.addEventListener("click", () => {
        const url = "/api/order/?storeId=" + storeId;
        fetch(url, { method: "POST", body: dishes })
            .then((response) => response.json())
            .then((data) => {
                const orderId = data.orderId;
                window.location.href = `/checkout?storeId=${storeId}&orderId=${orderId}`;
            });
    });
</script>
<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        & h1 {
            margin-right: auto;
        }
    }

    .page {
        transform: translateY(-2.5%);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .your-cart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        background-color: var(--secondary-clr);
        border: none;
        border-radius: 20px;
        padding: 8px 30px;
        font-size: 20px;
    }

    button:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    a {
        background-color: var(--primary-clr);
        border: none;
        border-radius: 20px;
        padding: 8px 30px;
        color: var(--primary-fnt-clr);
        font-size: 20px;
        text-decoration: none;
    }

    a:hover {
        opacity: 0.5;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 50px;
    }
</style>

