---
interface Props {
    name: string;
    category: string;
    stars: number;
    reviews: number;
    imagePath: string;
}

const {name, category, stars, reviews, imagePath} = Astro.props;

---

<li>
    <div class="store">
        <img src={imagePath}></img>
        <p class="name">{name}</p>
        <p class="category">{category}</p>
        <div class="stars">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24" 
            height="24"  viewBox="0 0 24 24"  fill="currentColor" 
            class="icon icon-tabler icons-tabler-filled icon-tabler-star">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44
            1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464
            .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091
            -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38-.926l-2.852
            -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" /></svg>
            <p>{stars}</p>
        </div>
        <p class="reviews">{reviews} reviews</p>
    </div>
</li>
<style>
    li {
        float: left;
        padding: 30px 1%;
    }

    .store {
        border-style: solid;
        border-color: black;
        border-radius: 20%;
        width: fit-content;
        align-items: center;
        padding: 2vh 3vw;
        display: block;
        text-align: center;
        text-decoration: none;
        background-color: var(--background-clr);
    }

    li div img {
        width: 5vw;
        border-radius: 50%;
    }

    .stars {
        display: flex;
        float: left;
    }

    .name {
        font-size: 20px;
        font-weight: 500;
    }

    .category { 
        font-size: 16px;
        margin-bottom: 3vh;
    }

    .reviews {
        margin-left: 1vw;
        float:right;
        font-size: 16px;
    }
</style>