---
interface Props {
    storeId: number;
    name: string;
    category: string;
    stars: number;
    reviews: number;
    imagePath: string;
}

const {storeId, name, category, stars, reviews, imagePath} = Astro.props;

---

<li>
    <a href=`store?storeId=${storeId}&name=${name}` class="store">
        <img src={imagePath}></img>
        <p class="name">{name}</p>
        <p class="category">{category}</p>
        <div class="rating">
            <div class="stars">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24" 
                height="24"  viewBox="0 0 24 24"  fill="currentColor" 
                class="icon icon-tabler icons-tabler-filled icon-tabler-star">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44
                1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464
                .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091
                -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38-.926l-2.852
                -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" /></svg>
                <p>{stars}</p>
            </div>
            <p class="reviews">{reviews} reviews</p>
        </div>
    </a>
</li>
<style>
    li a {
        color: black;
    }

    .store {
        box-shadow: 0px 4px 4.7px 5px rgba(0, 0, 0, 0.09);
        border-radius: 30px;
        width: 300px;
        min-height: 350px;
        align-items: center;
        justify-content: center;
        padding: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        background-color: var(--background-clr);
    }

    li a img {
        height: 150px;
        width: 150px;
        border-radius: 20px;
    }

    .stars svg {
        width: 20px;
        margin-right: 1vh;
    }

    .stars {
        display: flex;
        align-items: center;
    }

    .name {
        font-size: 20px;
        font-weight: 500;
    }

    .category { 
        font-size: 16px;
        margin-bottom: 50px;
    }

    .reviews {
        font-size: 16px;
    }

    .rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }
</style>